.searchElement {
  min-height: 100vh;
  background: linear-gradient(var(--color-1), var(--color-5));
  padding: var(--padding-side);

  & .main {
    max-width: 1440px;
    margin: auto;
  }

  & .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}