.episodesNotFound {
  height: 300px;
  width: 100%;
  padding: 0 var(--padding-side);
  display: grid;
  place-content: center;

  & img {
    height: calc(300px - 2rem);
  }
  & p {
    color: var(--color-font);
    font-weight: 900;
    font-size: 1.2em;
    height: 2rem;
    line-height: 1em;
    text-align: center;
  }
}

.laoder {
  display: grid;
  place-content: center;
  width: 100%;
  height: 300px;
}

.episodes {
  width: 100%;
  padding: 0 var(--padding-side);

  & h2 {
    color: var(--color-font);
    font-size: 2em;
    font-weight: 900;
  }
}

.pageSelect {

  & button {
    background-color: var(--color-1);
    color: var(--color-font);
    padding: 0 0.2rem;
    border: solid 2px var(--color-2);
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
  }
  & button:hover {
    background-color: var(--color-2);
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  height: 300px;
  overflow: auto;
}
.cards::-webkit-scrollbar {
  width: 12px;
}
.cards::-webkit-scrollbar-track {
  border: 2px solid var(--color-5);
  border-radius: var(--border-radius);
}
.cards::-webkit-scrollbar-thumb {
  background-color: var(--color-5);
  border-radius: var(--border-radius);
}

.card {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  color: var(--color-font);
  padding: 0.2rem;
  background-color: rgba(255, 255, 255, 0.116);
  padding: 0.5rem;
  border-radius: var(--border-radius);

  & .info {
    display: flex;

    & .episodeNumber {
      display: grid;
      place-content: center;
      font-weight: 900;
      padding-right: 0.5rem;
    }

    & .titleAndInfo {

      & .title {
        display: -webkit-box; 
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical; 
        overflow: hidden; 
        text-overflow: ellipsis;
        line-height: 1.1em;
        height: 2em;
      }

      & .information {
        font-size: 0.8em;
        opacity: 0.8;
        display: flex;
        gap: 1rem;
      }
    }
  }
}

.forum {
  display: grid;
  place-content: center;

  & a {
    color: var(--color-font);
    text-decoration: underline;
  }
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}